<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P🐾ST</title>
<link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>
<body class="bg-gradient-to-t from-red-200 to-red-50 h-[300vh]">
  <header class="bg-white border-b border-gray-300">
    <nav class="flex flex-row fixed top-2 left-1 right-0 space-x-3 z-10">
      

      <button class="bg-indigo-400 hover:bg-indigo-600 text-white text-sm px-4 py-2 border rounded-full shadow-md shadow-indigo-500/50">
        <a href="/" class="">Home</a>
      </button>
      
      <button class="bg-indigo-400 hover:bg-indigo-600 text-white text-sm px-4 py-2 border rounded-full shadow-md shadow-indigo-500/50">
        <a href="/profile" class="">Profile</a>
      </button>

      <button class="bg-red-300 hover:bg-red-500 text-white text-sm px-4 py-2 border rounded-full shadow-md shadow-indigo-500/50">
        <a href="/post" class="">New Post</a>
      </button>
            
            
          <div class="fixed top-3 left-100 right-0">
            {{#if logged_in}}
              <button class="bg-cyan-400 hover:bg-cyan-600 text-white text-sm px-4 py-2 border rounded-full shadow-mg shadow-cyan-500/50" id="logout">Logout</button>
            {{else}}
            <button>
              <a href="/login" class="bg-cyan-400 hover:bg-cyan-600 text-white text-sm px-4 py-2 border rounded-full shadow-md shadow-cyan-500/50">Login</a>
            </button>
            {{/if}}
          </div>
    </nav>
  </header>

  <main class="flex flex-col z-0">
    <div class="absolute inset-12">
    <!-- Your main content goes here -->
      {{{body}}}
    </div>
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
