{{#each posts}}
<div>

  <div>
    <p>{{user.username}}</p>
  </div>

  <div>
    <img src="{{image}}">
  </div>

  <div>
    <p>{{description}}</p>
  </div>

  <div>
    <p>{{format_date date_created}}</p>
  </div>

</div>
{{/each}}