<div class="text-center">
  <form>
    <input type="text" id="description">
    <input type="file"
       id="avatar" name="avatar"
       accept="image/png, image/jpeg">
       <button id="post">Post</button>
  </form>
</div>
<script src="/js/addPost.js"></script>