<div class="text-center">
  <form id="form" enctype="multipart/form-data">
    <input type="text" id="description">
    <input type="file"
       id="avatar"  name="postImg"
       accept="image/png, image/jpeg">
       <button id="post">Post</button>
  </form>
</div>
<script src="/js/addPost.js"></script>