  <div class=" bg-white shadow-xl rounded p-6 mx-auto max-w-lg">
    <h2 class=" text-indigo-500 text-3xl text-center my-3">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <br>
        <input class="form-input border  rounded" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <br>
        <input class="form-input rounded border" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <br>
        <input class="form-input border rounded" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary rounded bg-indigo-400 text-white my-2 p-2" type="submit">signup</button>
        <p>*Password has to be a minimum of 8 characters</p>
        <br>
        <a href="/login" class=" text-blue-600 underline">Login instead</a>

      </div>
    </form>
  </div>

  <script src="./js/signup.js"></script>
  